* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #000000;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
  font-size: 2em;
  text-shadow:
    0 0 20px rgba(10, 175, 230, 1),
    0 0 20px rgba(10, 175, 230, 0);
  letter-spacing: 0.05em;
}

.time {
  font-family: monospace;
}

.emoji {
  font-size: 4em;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  font-size: calc(5px + 2vmin);
  font-style: italic;
}
